{% extends 'students/base.html' %}
{% block content %}

<div class="container mt-5 d-flex justify-content-center">

    <div class="card shadow-sm p-4" style="max-width: 500px; width: 100%;">
        <h1 class="card-title text-center mb-4">Profile</h1>

        <div class="mb-3">
            <p><strong>Username:</strong> {{ request.user.username }}</p>
            <p><strong>Last Login:</strong> 
                {% if request.user.last_login %}
                    {{ request.user.last_login }}
                {% else %}
                    First time login
                {% endif %}
            </p>
            <p><strong>Date Joined:</strong> {{ request.user.date_joined }}</p>
        </div>

        <hr>

        <!-- Action Buttons -->
         <div class="d-flex justify-content-center gap-3 flex-wrap mt-3">
            <a href="{% url 'change_password' %}" class="btn btn-primary fw-semibold">Change Password</a>
            <a href="{% url 'home' %}" class="btn btn-outline-secondary fw-semibold">Home</a>
        </div>

        <!-- Logout button lower -->
        <div class="d-flex justify-content-center mt-3">
            <a href="{% url 'logout' %}" class="btn btn-danger fw-semibold">Logout</a>
        </div>
</div>

{% endblock %}
